<h1>New photo</h1>

<p><%= link_to 'Return to index', photos_path %></p>

<p>This section is the traditional upload form. Normally it would be hidden in favor of the swfupload button below.</p>

<%= error_messages_for :photo %>

<% form_for @photo, :html => { :multipart => true } do |f| -%>
  <p><%= f.file_field :uploaded_data %></p>
  <%= submit_tag 'Upload image' %> or <%= link_to 'Cancel', photos_path %>
<% end %>

<br />
<hr />

<p>SWFUpload button allows uploading more than one image at a time. This section adapted from index.php in the swfupload application demo. In a final application the Graceful Degradation plugin would show or hide the traditional or swfupload divisions based on whether the swfupload program successfully initialized.</p>

<script type='text/javascript'>
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({
      // Create the custom swfupload_photos_path in the routes.rb file
      upload_url : '<%= swfupload_photos_path -%>',
      flash_url : '/assets/swfupload_f9.swf',

      file_size_limit : '3072',
      file_types : '*.jpg',
      file_types_description : 'JPG Images',
      file_upload_limit : '0',

      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

      custom_settings : { 
        upload_target : 'divFileProgressContainer'
      },

      debug: false

    });
  };
</script>

<div style="margin: 0px 10px;">
	<div>
		<form>
			<button id="btnBrowse" type="button" style="padding: 5px;" onclick="swfu.selectFiles(); this.blur();"><img src="/images/page_white_add.png" style="padding-right: 3px; vertical-align: bottom;">Select Images <span style="font-size: 7pt;">(2 MB Max)</span></button>
		</form>
	</div>
	<div id="divFileProgressContainer" style="height: 75px;"></div>
	<div id="thumbnails"></div>
</div>

